aioredis==1.3.1
amqp==5.1.0
asgiref==3.5.0
async-timeout==4.0.2
attrs==21.4.0
autobahn==22.3.2
psycopg2
requests
Automat==20.2.0
beautifulsoup4==4.10.0
billiard==3.6.4.0
bs4==0.0.1
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
channels-redis==3.4.0
charset-normalizer==2.0.12
click==8.1.0
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
constantly==15.1.0
cryptography==36.0.2
daphne==3.0.2
dateutils==0.6.12
Deprecated==1.2.13
Django==4.0.3
dnspython==2.2.1
greenlet==1.1.2
h11==0.13.0
h2==4.1.0
hiredis==2.0.0
hpack==4.0.0
hypercorn==0.13.2
hyperframe==6.0.1
hyperlink==21.0.0
idna==3.3
importlib-metadata==4.11.3
incremental==21.3.0
kombu==5.2.4
lxml==4.8.0
msgpack==1.0.3
nsetools==1.0.11
packaging==21.3
parse==1.19.0
priority==2.0.0
prompt-toolkit==3.0.28
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
pyparsing==3.0.7
python-dateutil==2.8.2
pytz==2022.1
redis==4.2.0
service-identity==21.1.0
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
toml==0.10.2
Twisted==22.2.0
txaio==22.2.1
typing_extensions
tzdata==2022.1
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
whitenoise==6.0.0
wrapt==1.14.0
wsproto==1.1.0
zipp==3.7.0
zope.interface==5.4.0
