<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
  </script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
  </script>
  {% load dict_key %}
  {% load static %}
  <!-- css file main.css -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,200&display=swap" rel="stylesheet">
  <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  {% include 'stockapp/navbar.html' %}
</head>

<body style="position: relative;">

  <div class="card text-center pt-0" style="margin-bottom: 25px;">
    <div class="card-header display-6 p-0">
    </div>
    <p class="m-0"> * Prices are updated every 20 seconds with ajax</p>
    <div class="card-body">
      <span id="Prices">
        <p class="card-title h3 " id="currentPrice" style="display:inline-block;">₹</p>
        <h6 id="change" style="display:inline-block;" class="m-md-2"></h6>
      </span>
      <p class="card-text h3 load" id="Company_Des"></p>
      <!-- <a href="#" class="btn btn-primary">Chart</a> -->
    </div>
  </div>
</body>
<!--  -->
<!-- setting name from django template to external js file -->
{{ Name|json_script:"StockName"}}
<script src="{% static 'js/main.js' %}"></script>
{% include 'stockapp/footer.html' %}

</html>
