
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>
{% load dict_key %}
{% load static %}
<!-- css file main.css -->
<link href="{% static 'css/main.css' %}" rel="stylesheet">   
<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet"
    type="text/css" />
  </head>
  <div class="card text-center">
      <div class="card-header display-6">
          {{Stock|get_item:"companyName"}}
      </div>
      <div class="card-body">
  <span>
  <p class="card-title h3 " id="currentPrice" style="display:inline-block;">₹{{Stock|get_item:"lastPrice"}}</p>
  <h6 id="change" style="display:inline-block;" class="m-md-2">{{Stock|get_item:"change"}}</h6>
  </span>
  <p class="card-text h3">{{company_description}}</p>
  <a href="#" class="btn btn-primary">Chart</a>
</div>
</div>
<!--  -->
<script type="text/javascript">
  const socket = new WebSocket(
    'ws://' + window.location.host + '/ws/stock/' + '{{Stock|get_item:"symbol"}}/' + '{{room_name}}' + '/'
  );
  socket.onmessage = function (e) {
    Data=JSON.parse(e.data) // get json object from backend (wesockets)
    var Cmp = document.getElementById('currentPrice')
    var changed = document.getElementById('change') 
    Cmp.innerHTML = '₹'+Data['lastPrice'] // add CMP from json obj
       
    if ( Data['change'].toString().indexOf('-')===0) {
    changed.innerHTML = Data['change'] // add change in price from json obj 
    Cmp.classList.add('red');
    changed.classList.add('red');
    } else {
        Cmp.classList.add('green');
        changed.classList.add('green');
        changed.innerHTML = '+' + Data['change'] // add plus icon if increase
    }
    
  }
//   
  socket.onerror= function(e){
      alert('error')
  }

  socket.onopen = function (e) {
      console.log('prb');
  }
  socket.addEventListener('close', function (event) {
    alert('disconnected');
});
</script>
<script>
  // reload on page back
      window.addEventListener( "pageshow", function ( event ) {
var historyTraversal = event.persisted || 
                       ( typeof window.performance != "undefined" && 
                            window.performance.navigation.type === 2 );
if ( historyTraversal ) {
  // Handle page restore.
  window.location.reload();
}
});
// disable page forword
$( document ).ready( function(){
  history.pushState(null,  document.title, location.href);        
 });
</script>
